body {
  padding: 50px;
}

h1 {
  color: #4E4F4D;
  font-family: 'PT Sans', sans-serif;
  font-size: 64px;
  margin: 0 0 20px 0;
  line-height: 1.2;
}

h2 {
  color: #4E4F4D;
  font-family: 'PT Sans', sans-serif;
  font-size: 32px;
}

a {
  color: #4E4F4D;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}

a.highlight {
  display: inline-block;
  border-bottom: 1px solid #63CD96;
  margin-bottom: 10px;
}

a:hover {
  color: #63CD96;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 10px 0;
  position: relative;
}

ul li .views {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  text-align: right;
  color: #63CD96;
  font-size: 12px;
  padding: 4px 20px;
  margin-left: -130px;
  display: inline-block;
  width: 100px;
}

.pure-button-primary {
  background-color: #4E4F4D;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  padding: 4px 0;
  margin: 0 20px 0 0;
}

@media (max-width:500px){
  body {
    padding: 20px;
  }

  h1 {
    font-size: 46px;
  }
}

