<nav>
	<ul>
		<li><a class="highlight" href="http://andrenanninga.com">andrenanninga.com</a></li>
		<li><a class="highlight" href="/upload">upload</a></li>
	</ul>
</nav>
<ul class="files">
  {{#each files}}
    <li>
    	{{#if ../isAuthenticated}}
    		<span class="views">{{views}}</span>
    	{{/if}}
      <a href="{{name}}">{{name}}</a>
    </li>
  {{/each}}
</ul>
