<!DOCTYPE html>
<html>
  <head>
    <title>Nannin.ga</title>

    <link rel="manifest" href="/manifest.json">

    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
        appId: "c5e5bef1-c020-4eda-83cf-db39e556b811",
        autoRegister: false,
        notifyButton: {
          enable: true /* Set to false to hide */
        }
      }]);
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container pure-g">
      <div class="pure-u-1">
        <h1><a href="/">nannin.ga</a></h1>
        {{{body}}}
      </div>
    </div>
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </body>
</html>
