<form class="pure-form" method="POST" action="login">
  <input type="username" name="username" value="-" hidden>
  <input type="password" name="password" placeholder="password">

  <button type="submit" class="pure-button pure-button-primary">Log in</button>
</form>