<form class="pure-form pure-form-stacked" method="POST" action="upload" enctype="multipart/form-data">
	<p class="image-field">
		<input name="file" type="file">
		<small>or paste an image</small>
	</p>

	<label for="private">
		<input id="private" type="checkbox" name="private"> Private
	</label>

	<button type="submit" class="pure-button pure-button-primary">Upload</button>
</form>

<script src="javascripts/upload.js"></script>
