<form class="pure-form" method="POST" action="upload" enctype="multipart/form-data">
  <input name="file" type="file">

  <button type="submit" class="pure-button pure-button-primary">Upload</button>
</form>
<small>or paste an image</small>

<script src="javascripts/upload.js"></script>
